<!-- head para PC -->
{% extends "servicios/base_servicios.html" %}
{% load  static %}

{% block title %} RammerBot | Articulos {% endblock title %}
{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <!-- primer bloque pantalla blog -->
        <div class="cell small-12 large-8">

            <!-- bloque de buscador -->
            <form class="input-group">{% csrf_token %}
                <input method='GET' name='kword' id='kword' class="input-group-field" type="text" placeholder="Buscar ...">
                <div class="input-group-button">
                  <input type="submit" class="button warning" value="Buscar">
                </div>
            </form>
            <!-- FIN bloque de formulario -->

            <!-- inicio bloque de resultados de busqueda -->
            <div class="grid-x grid-margin-x">
                {% for entrada in servicio %}
                    <div class="cell small-6 large-4">
                        <div class="card shadow orange" style="width: 100%;">
                            <img class='image_home' src="{{entrada.image_1.url}}">
                            <div class="card-section">
                            <h4><a class="header_letras" href="{%url 'servicios_app:servicio' entrada.slug %}">{{entrada.service | truncatechars:40 }}</a></h4>
                            <p class="header_letras2">{{entrada.resume}}</p>
                            </div>
                        </div>
                    </div>
                {%empty%}
                    <h3 class='mensaje_vacio'>No hay resultados</h3>
                {% endfor %}
            </div>
            <!-- FIN bloque de resultados de busqueda -->

        </div>
        <!-- FIN primer bloque pantalla blog -->


        <!-- inicio del segundo bloque - categorias -->
        <div class="cell small-12 large-4 orange centrar" style="height: 500px;">
            <h4 class="header_letras">Categorias</h4>
            <hr>
            <ul class="vertical menu">
                {% for categoria in categories %}
                    <li><a class="header_letras" href="?categorias={{categoria.category}}">{{categoria.category}}</a><hr></li>
                {% endfor %}
            </ul>
        </div>
        <!-- FIN inicio del segundo bloque - categorias -->
    
    </div>

    <!-- inicio de bloque de paginacion -->
    </div class="cell ">
    {% if is_paginated %}
        <div class="cell paginacion">
            <nav aria-label="Pagination">
                <ul class="pagination">
                    {% if page_obj.has_previous  %}
                    <li class="pagination-previous"><a href="?page={{page_obj.previous_page_number}}">atras</a></li>
                    {% endif %}
                    {% for pagina in paginator.page_range %}
                        {%if pagina == page_obj.number%}
                            <li class="current orange"><span class="show-for-sr">You're on page</span>{{pagina}}</li>
                        {% else %}        
                            <li><a href="?page={{pagina}}" aria-label="Pagina {{pagina}}">{{pagina}}</a></li>
                        {%endif%}
                    {% endfor %}
                    {% if page_obj.has_next  %}
                        <li class="pagination-next"><a href="?page={{page_obj.next_page_number}}" aria-label="Next page">siguiente</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
    <!-- FIN bloque de paginacion -->
</div>
{% include "includes/footer.html" %}

{% endblock content %}