<!-- head para PC -->
{% extends "favoritos/favoritos_base.html" %}
{% load  static %}
{% block title %}RammerBot | Articulos Favoritos {% endblock title %}
{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center" style="margin-top: 1em;">
        <!-- bloque de datos de usuario -->
        <div class="cell small-12 large-4">
            <div class="callout">
                <h5>{{user.get_full_name}}</h5>
                <p> {{user.email}} - {{user.ocupacion}} - {{user.date_brth}}</p>
                <a href="{%url 'user_app:user_update' user.id%}">Cambiar contraseña</a>
            </div>
        </div>
        <!-- FIN bloque de datos de usuario -->


        <!-- bloque de articulos favoritos de usuario -->
        
        <div class="cell large-8 grid-x grid-margin-x align-center">
            {% if messages %}
            <div class="cell large-12 center messages mensaje_index">
                {% for message in messages %}
                <h3{% if message.tags %} class="{{message.tags}}"{% endif %}><p href="{%url 'home_app:index' %}">{{ message }}</p></h3>
                {% endfor %}
            </div>
            {% endif %}
            {% for entrada in entradas_user %}
            <div class="cell small-12">
                <div class="card-favoritos">
                    <img class="card-favoritos-img" src="{{entrada.entry.image.url}}">
                    <div class="card-favoritos-body">
                        <h3 class="card-favoritos-body-titulo header_letras">{{entrada.entry.title | truncatechars:40}}</h3>
                        <p class="card-favoritos-body-text header_letras">{{entrada.entry.resume | truncatechars:100}}</p>
                        <form method='post' action="{%url 'favorites_app:delete_entry' entrada.id%}" class="card-favoritos-body-actions"> {% csrf_token %}
                            <a class="button warning" href="{%url 'entrada_app:detail' entrada.entry.slug %}">Ver</a>
                            <button type="submit" class="button alert">Eliminar Favorito</button>
                        </form>
                    </div>
                </div>
            </div>
            {%empty%}
            <h3 class='mensaje_vacio'>No hay resultados</h3>
            {% endfor %}
        </div>
       
        <!-- FIN bloque de articulos favoritos de usuario -->
    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}