<header>
    <div class="grid-x grid-margin-x header">
        <div class="cell small-12 medium-4 large-3">
            <a class="nombre_header" href="{%url 'home_app:index'%}">
                RammerBot
            </a>
        </div>
        <div class="cell small-12 medium-4">
        </div>
        <div class="cell small-12 large-5">
            <ul class="menu" style="justify-content: flex-end;">
                <li>
                    <a href="{%url 'home_app:index'%}">Home</a>
                </li>
                <li>
                    <a href="{%url 'entrada_app:entradas'%}">Blog</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{%url 'favorites_app:favorites'%}">favoritos</a>
                    </li>
                    <li>
                        <a class="warning button" href="{%url 'user_app:logout'%}">Cerrar sesion</a>
                    </li>
                {% else %}
                    <li>
                        <a class="success button" href="{%url 'user_app:login'%}">Acceder</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>