<!-- head para PC -->
{% extends "entrada/base_entrada.html" %}
{% load  static %}
{% block title %}RammerBot | {{entrada.title}} {% endblock title %}
{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x header" style="margin-top: 1em;">
        <!-- bloque de contenido del articulo -->
        <div class="cell large-8 callout warning shadow">
            <h5 class="cell orange header_letras padding">{{entrada.title}}</h5>
            <div >
                <p class="article_font">{{entrada.resume}}</p>
            </div>
            <div>
                <p class="article_font">{{entrada.content | safe}}</p>
            </div>
        </div>
        <!-- FIN bloque contenido del articulo -->

        <!-- bloque llamada a la accion -->
        <div class="cell large-4">
            <div class="card" style="width: 100%;">
                <img src="{{entrada.image.url}}">
                <div class="card-section orange" style="width: 100%;">
                  <form method="post" action="{%url 'favorites_app:favorites_add' entrada.id %}" class="blog-action">{% csrf_token %}
                    <button type="submit" class="button alert">Agregar a Favoritos</button>
                  </div>
                </div>
            </div>
        </div>
        <!-- FIN bloque llamada a la accion -->
    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}