<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Inicio</h1>
    <h3>Bienvenido: {{user.username}}</h3>
    <ul>
        <li><a href="{% url 'user_app:logout' %}">Cerrar sesion</a></li>
        <li><a href="{% url 'user_app:user_update' user.username %}">Actualizar contraseña</a></li>
    </ul>
</body>
</html>