<!-- head para PC -->
{% extends "user/base_user.html" %}
{% load  static %}

{% block title %}RammerBot | Iniciar Sesion {% endblock title %}
{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <form method="post" class="cell medium-6 large-4" style="margin-top: 2em;">{% csrf_token %}
            <div class="shadow card" style="width: 100%;">
                <div class="card-divider">
                  <h4>Acceso de usuario</h4>
                </div>
                <div class=" card-section">
                    <div class="cell medium-12">
                        {{form.as_p}}
                    </div>
                    <button type="submit" class="cell hollow button primary">Acceder</button>     
                    <a class="cell hollow button alert" href="{%url 'user_app:create_user'%}">Registrar</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}